@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
/*pure  color */
/* font-family */
/* font-color */
/* web color */
/* font-size set */
/* width set */
/* circle write */
/* 圖片取代文字 */
/* bg setting */
/* RWD mixin */
.blog-menu {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .blog-menu {
    padding-left: 39px;
    padding-right: 47px;
  }
}

@media screen and (max-width: 576px) {
  .blog-menu {
    padding-left: 0px;
    padding-right: 0px;
  }
  .blog-menu ul {
    margin: 0 auto;
  }
}

.blog-menu li a {
  display: block;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 0;
  margin-right: 48px;
}

@media screen and (max-width: 576px) {
  .blog-menu li a {
    font-size: 16px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .blog {
    padding-left: 39px;
    padding-right: 47px;
  }
}

@media screen and (max-width: 576px) {
  .blog {
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog .title-sm {
    font-size: 28px;
    line-height: 40px;
    border-left: 4px solid #650300;
  }
}

.blog-content {
  margin-bottom: 56px;
}

.blog-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

@media screen and (max-width: 576px) {
  .blog-content li {
    display: block;
    margin-bottom: 20px !important;
  }
}

.blog-content li img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56.5%;
          flex: 0 0 56.5%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .blog-content li img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    height: 208px;
  }
}

@media screen and (max-width: 576px) {
  .blog-content li img {
    margin-bottom: 8px;
    height: 217px;
    width: 100%;
  }
}

.blog-content li .blog-content-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.5%;
          flex: 0 0 40.5%;
}

@media screen and (max-width: 768px) {
  .blog-content li .blog-content-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.5%;
            flex: 0 0 48.5%;
  }
}

.blog-content li .blog-content-text h3 {
  font-size: 32px;
  color: #650300;
  margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
  .blog-content li .blog-content-text h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .blog-content li .blog-content-text h3 {
    font-size: 16px;
  }
}

.blog-content li .blog-content-text .h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.blog-content li .blog-content-text .h4 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .blog-content li .blog-content-text .h4 {
    margin-bottom: 32px;
  }
  .blog-content li .blog-content-text .h4 h4 {
    font-size: 14px;
  }
  .blog-content li .blog-content-text .h4 p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .blog-content li .blog-content-text .h4 {
    margin-bottom: 0 !important;
  }
}

.blog-content li .blog-content-text > p {
  font-size: 20px;
  margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
  .blog-content li .blog-content-text > p {
    font-size: 14px;
  }
}

.blog-content li .blog-content-text a {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #650300;
  display: block;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .special {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (max-width: 576px) {
  .special {
    padding-left: 15px;
    padding-right: 15px;
  }
  .special .tag {
    font-size: 14px;
  }
}

.special .special-article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74%;
          flex: 0 0 74%;
}

@media screen and (max-width: 768px) {
  .special .special-article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

@media screen and (max-width: 576px) {
  .special .special-article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.special .special-article .special-title {
  line-height: 70px;
}

@media screen and (max-width: 576px) {
  .special .special-article .special-title {
    font-size: 20px;
    line-height: 1.5;
  }
}

.special .special-article .special-title-sm {
  font-size: 28px;
}

@media screen and (max-width: 576px) {
  .special .special-article .special-title-sm {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .special .special-article .special-content li {
    margin-bottom: 24px !important;
  }
}

.special .special-article .special-content img {
  width: 100%;
  margin-bottom: 24px;
}

@media screen and (max-width: 576px) {
  .special .special-article .special-content img {
    margin-bottom: 16px;
  }
}

.special .special-article .special-content p {
  color: #0A0A0A;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .special .special-article .special-content p {
    font-size: 16px;
  }
}

.tag-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  margin-top: 78px;
  padding-left: 20px;
}

@media screen and (max-width: 576px) {
  .tag-group {
    margin: 0;
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 56px;
  }
}

.tag-group .tag-group-title img {
  width: 38px;
  height: auto;
}

.tag-group .tag-group-title p {
  font-size: 28px;
}

.tag-group .tag-group-content {
  font-size: 24px;
  color: #AA0601;
}

@media screen and (max-width: 768px) {
  .tag-group .tag-group-content {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .tag-group .tag-group-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.tag-group .tag-group-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

@media screen and (max-width: 576px) {
  .tag-group .tag-group-content li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

.tag-group .tag-group-content li p {
  margin-right: 16px;
}

@media screen and (max-width: 576px) {
  .tag-group .tag-group-content li p {
    margin-right: 8px;
  }
}

.share-icon p {
  font-size: 20px;
  color: #0A0A0A;
}

.share-icon a {
  color: #0A0A0A;
  font-size: 24px;
}

.change-page {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74%;
          flex: 0 0 74%;
  border-top: 1px solid #707070;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .change-page {
    margin-bottom: 96px !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media screen and (max-width: 576px) {
  .change-page {
    margin-bottom: 30px !important;
  }
}

.change-page p {
  font-size: 19px;
}

.change-page a {
  font-size: 24px;
  color: #0A0A0A;
}

@media screen and (max-width: 576px) {
  .change-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .change-page p {
    font-size: 14px;
  }
  .change-page a {
    font-size: 16px;
  }
  .change-page .next {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .change-page .next a {
    margin-right: 4px !important;
  }
}
/*# sourceMappingURL=blog.css.map */